<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex animate-bounce title-font font-medium items-center text-white mb-4 md:mb-0">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
        <svg  xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708z"/>
            <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
          </svg>
        <span class="ml-3 text-xl">Codiz !</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <!-- Home Link -->
        <a 
          href="#" 
          class="relative group mr-5"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          ariaCurrentWhenActive="page"
        >
          <span 
            class="text-gray-300 transition-colors duration-300 ease-out group-hover:text-white active:text-green-500"
          >
            Home
          </span>
          <span 
            class="absolute left-0 bottom-0 w-full h-0.5 bg-green-500 scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-300 ease-out"
          ></span>
        </a>
      
        <!-- About Link -->
        <a 
          href="#" 
          class="relative group mr-5"
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          ariaCurrentWhenActive="page"

        >
          <span 
            class="text-gray-300 transition-colors duration-300 ease-out group-hover:text-white active:text-green-500"
          >
            About
          </span>
          <span 
            class="absolute left-0 bottom-0 w-full h-0.5 bg-green-500 scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-300 ease-out"
          ></span>
        </a>
      
        <!-- Product Link -->
        <a 
          href="#" 
          class="relative group mr-5"
          routerLink="/product"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          ariaCurrentWhenActive="page"

        >
          <span 
            class="text-gray-300 transition-colors duration-300 ease-out group-hover:text-white active:text-green-500"
          >
            Services
          </span>
          <span 
            class="absolute left-0 bottom-0 w-full h-0.5 bg-green-500 scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-300 ease-out"
          ></span>
        </a>
      
        <!-- Contact Link -->
        <a 
          href="#" 
          class="relative group mr-5"
          routerLink="/contact"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          ariaCurrentWhenActive="page"

        >
          <span 
            class="text-gray-300 transition-colors duration-300 ease-out group-hover:text-white active:text-green-500"
          >
            Contact
          </span>
          <span 
            class="absolute left-0 bottom-0 w-full h-0.5 bg-green-500 scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-300 ease-out"
          ></span>
        </a>
      </nav>
      
      
      
      
      <!-- <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Button
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button> -->
    </div>
  </header>